<h1>artists#index</h1>
<p>/!\ Juste temporaire, on n'utilisera pas cette page</p>

<h4>Liste des artistes :</h4>

<ul>
<% @artists.each do |artist| %>
<li><%= link_to artist.name, artist_path(artist.id) %></li>
<% end %>
</ul>

