<div class="logo mx-auto">
  <p class="out">OUT</p>
</div>
<div class="color-line-top"></div>

<p class="artist_name text-center"><%= @artist.name.upcase %></p>

<div class="artist_image" style="background-image: url(<%= @artist.photo %>);"></div>

<div class="color-line-bottom"></div>









