.taille_texte {
 font-family: "Roboto" !important;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.taille_texte2 {
 font-family: "Roboto" !important;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
margin-top: 70px;
}
// Specific CSS for your home-page
