<div class="align-items-start">
  <div class="logo mx-auto">
    <p class="out">OUT</p>
  </div>
  <div class="color-line-top"></div>

  <div class="artist_image mt-4" style="background-image: url(<%= @event.photo %>);">
    <div class="card-next-event-date2 d-flex flex-column">
      <h2>05</h2> <br>
      <h3> sept </h3>
    </div>
  </div>
</div>
