<div class="logo mx-auto">
  <p class="out">OUT</p>
</div>

<h1>Dashboard</h1>
<p>Gouts de l'utilisateur (style musical)</p>
<p>Artistes préférés</p>
<p>Faux anciens evenements</p>

<%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>





