<div class="bodyhome">
  <div class="logo mx-auto">
    <p class="out">OUT</p>
  </div>
   <div class="color-line-top d-flex"></div>

<%= image_tag "artist-test.png", :class => "avatar"%>

<button class="btn_deconnexion"><p>deconnexion</p></button>
<button class="btn_modifier"><p>modifier</p></button>

 <div class="chapiter-your-style">
    <p class="title-chapiter">vos styles</p>
    <p class="lign-chapiter"> </p>
  </div>














<!-- <p>Gouts de l'utilisateur (style musical)</p>
<p>Artistes préférés</p>
<p>Faux anciens evenements</p>

<%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
 -->




