<div class="logo mx-auto">
  <p class="out">OUT</p>
</div>

<div class="color-line-top d-flex">
</div>

<div class="chapiter-selection-event">
  <p class="title-chapiter">Selectionnés pour vous</p>
  <p class="lign-chapiter">Top events filtrés par les favorites et les artistes likés, triés par date </p>
</div>

