<div class="logo mx-auto">
  <p class="out">OUT</p>
</div>
  <div class="color-line-top d-flex"></div>


<div class="chapiter-selection-event">
      <p class="title-chapiter">selectionnés pour vous</p>
      <p class="lign-chapiter"> </p>
</div>

