<h1>Bienvenue sur OUT</h1>
<p>La meilleure appli du monde</p>

<p><a href="https://images-na.ssl-images-amazon.com/images/I/31TdUJJQxDL.jpg">CLIQUE ICI</a></p>

<p><%= link_to 'Events', events_path %></p>
<p><%= link_to 'Places', places_path %></p>
<p><%= link_to 'Artists', artists_path %></p>
<p><%= link_to 'Dashboard', dashboard_path %></p>

