<h1>Bienvenue sur OUT</h1>
<p>La meilleure appli du monde</p>

<p><%= link_to 'Profil', dashboard_path %></p>
<p><%= link_to 'Map', events_path %></p>
<p><%= link_to 'Artists', artists_path %></p>
<p><%= link_to 'Discover', discover_path %></p>
