//---------btn-deconnexion-----------//

.btn_deconnexion {
width: auto;
height: auto;
border: 1px solid white;
box-sizing: border-box;
border-radius: 2px;
background-color: black;
font: 400 13.3333px Arial;
color: white;
padding: 8px;
font-size: 8px;
}

.btn_deconnexion p {
position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 6px;
line-height: 8px;
text-align: right;
color: #A1A1A1;
top: 4.5px;
}



//-----------btn-modifier-----------//

.btn_modifier {
width: 53px;
height: 18px;
border: 1px solid #A1A1A1;
box-sizing: border-box;
border-radius: 1px;
background-color: #252525;
}

.btn_modifier p {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 7px;
line-height: 8px;
text-align: right;
color: #A1A1A1;
}

//---------------------------------------//

//----------------recherche-barre-map-----//

.mapboxgl-ctrl-geocoder--input {
	display: none;
}

path {
display: none;
}

//---------------------------------------//
