body {
	background: #252525;
}

p, h1, h2, h3, h4, h5 {
	font-family: "Roboto", "Helvetica", "sans-serif" !important;
  color: #A1A1A1;
}

//--------CART EVENT--------------------------//

.card-event {
	display:inline-block;
	width: 286px;
	height: 109px;
	// left: 31px;
	// top: 196px;
	background: #343434;
	border-radius: 3px;
	color: #A0A0A0;
	font-family: avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin: auto;
	position: relative;
}

.color-line-event {
  height: 3px;
  width: 109px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 15px,
  orange 15px, orange 31px,
  yellow 15px, yellow 46px,
  green 15px, green 62px,
  blue 15px, blue 77px,
  pink 15px, pink 93px,
  purple 15px, purple 109px);
  position: absolute;
  transform: rotate(-90deg);
  top: 53px;
  left: -53px;
}

.card-event h3 {
	font-size: 12px;
	position: absolute;
	bottom: 80px;
	left: 97px;
	text-align: left;
}

.card-event p {
	position: absolute;
	bottom: 0px;
	left: 97px;
	line-height: 20px;
	text-align: left;
}

.img_event {
	height: 85px;
	width: 65px;
	position: absolute;
	left: 10px;
	top: 13px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.img_event_artist {
  height: 85px;
  width: 65px;
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo_event {
	margin-right: 7px;
}

//----------------------------------------------//

//--------------CARD-ARTIST---------------------//

.card-artist {
	width: 109px;
	height: 109px;
	left: 9px;
	top: 42px;
	background: #343434;
	border-radius: 3px;
	color: #A0A0A0;
	font-family: avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #A0A0A0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0px;
	position: relative;
}

.card_artist2 {
  width: 109px;
  height: 109px;
  left: 9px;
  background: #343434;
  border-radius: 3px;
  color: #A0A0A0;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #A0A0A0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0px;
  position: relative;
}

.color-line {
  line-height: 100%;
  height: 3px;
  width: 109px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 15px,
  orange 15px, orange 31px,
  yellow 15px, yellow 46px,
  green 15px, green 62px,
  blue 15px, blue 77px,
  pink 15px, pink 93px,
  purple 15px, purple 109px);
  position: relative;
  transform: rotate(-90deg);
  left: -53px;
  top: 7px;
  border-radius-bottom-left: 5px
}

.color-line2 {
  line-height: 100%;
  height: 3px;
  width: 109px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 15px,
  orange 15px, orange 31px,
  yellow 15px, yellow 46px,
  green 15px, green 62px,
  blue 15px, blue 77px,
  pink 15px, pink 93px,
  purple 15px, purple 109px);
  position: relative;
  transform: rotate(-90deg);
  left: -53px;
  top: 50px;
  border-radius-bottom-left: 5px
}

.card-artist h3 {
font-size: 13px;
line-height: 15px;
font-weight: bold;
position: relative;
left: 0px;
top: -43px;
}

.card_artist2 p {
font-size: 13px;
line-height: 15px;
font-weight: bold;
position: relative;
left: 0px;
top: -43px;
}

.img_artist-card {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 25px;
	right: 19px;
	border-radius: 3px
}

//----------------------------------------------//

//--------------CARD-NEXT-EVENT-----------------//

.card-next-event {
	display:inline-block;
	width: 286px;
	height: 109px;
	left: 22px;
	background: #343434;
	border-radius: 3px;
	color: #A0A0A0;
	font-family: avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	position: relative;
	top: -300px;
	margin: 12px;
}

.color-line-next-event {
  line-height: 100%;
  height: 3px;
  width: 286px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 40px,
  orange 15px, orange 81px,
  yellow 15px, yellow 122px,
  green 15px, green 163px,
  blue 15px, blue 204px,
  pink 15px, pink 244px,
  purple 15px, purple 286px);
  position: relative;
  top: 109px;
  border-radius-bottom-left: 5px
}

.card-next-event h3 {
	font-size: 12px;
	position: absolute;
	bottom: 85px;
	left: 90px;
	text-align: left;
}

.card-next-event p {
	position: absolute;
	bottom: 5px;
	left: 90px;
	line-height: 20px;
	text-align: left;

}

.img_next_event {
	height: 85px;
	width: 65px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.logo_next_event {
	margin-right: 7px;
}


//----------------------------------------------//

//------------CARD-NEXT-EVENT-DATE--------------//



.card-next-event-date {
position: absolute;
width: 72px;
height: 72px;
top: 0px;
bottom: 0px;
background: #000000;
border-radius: 3px;
margin:auto 0 auto auto;
right: -30px;
text-align: center;
}


.card-next-event-date h2{
position: absolute;
left: 12px;
color: white;
top: 6px;
font-size: 40px;
font-style: normal;
font-weight: 900;
text-align: center;
}

.card-next-event-date h3{
position: absolute;
left: 18px;
color: white;
top: 42px;
font-size: 16px;
font-style: normal;
font-weight: 900;
text-align: center;
}


.card-next-event-date2 {
  position: relative;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 3px;
  margin: auto 0 0 auto;
  top: 137px;
  right: 10px;
}


.card-next-event-date2 h2{
  position: relative;
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  height: 40px;
}

.card-next-event-date2 h3{
  position: relative;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

//----------------------------------------------//


//----------------COLOR-LINE--------------------//

.color-line-top {
  line-height: 100%;
  height: 2px;
  width: 286px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 40px,
  orange 15px, orange 81px,
  yellow 15px, yellow 122px,
  green 15px, green 163px,
  blue 15px, blue 204px,
  pink 15px, pink 244px,
  purple 15px, purple 286px);
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.color-line-bottom {
  line-height: 100%;
  height: 2px;
  width: 100%;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 53.57px,
  orange 15px, orange 107.14px,
  yellow 15px, yellow 160.71px,
  green 15px, green 214.28px,
  blue 15px, blue 267.85px,
  pink 15px, pink 321.42px,
  purple 15px, purple 375px);
}

.color-line-top {
  line-height: 100%;
  height: 2px;
  width: 286px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 40px,
  orange 15px, orange 81px,
  yellow 15px, yellow 122px,
  green 15px, green 163px,
  blue 15px, blue 204px,
  pink 15px, pink 244px,
  purple 15px, purple 286px);
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}



