// *, *::before, *::after {
//   box-sizing: border-box;
// }

.container {
  position: absolute;
  top: 50%;
  left: 46%;
  right: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container input {
  position: absolute;
  left: -9999px;
  text-align: center;
}

.container label {
  display: block;
  position: relative;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.container label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 0px;
  border-radius: 100px;
  text-align: center;
}

// .container label:first-of-type {
//   transform: translateX(-40px);
// }

// .container label:last-of-type {
//   transform: translateX(40px);
// }

.container input:checked + label {
  background-color: #ab576c;
  text-align: center;
}

.container input:checked + label::before {
  background-color: #fff;
  text-align: center;
}
.container label { 
  display: block; 
  width: 10px; 
  height: 10px;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 20px;
  text-align: center;
}

.container p {
  position: absolute;
  bottom: -12px;
  left: 20px;
  text-align: center !important;
  color: white;
  text-align: center;

}

.col {
  width: 100px;
  flex-grow: 0;
  box-sizing: border-box;
  margin: auto;
  top: -65px;
    text-align: center !important;

}





