.logo {
  width: 53px;
  height: 54px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  margin-top: 46px;
}

.out {
  position: relative;
  width: 91px;
  height: 30px;
  right: 57px;
  top: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}
