.navbar-lewagon {
  background: #343434;
  height: 41px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
  border-style: none;
  border: none;
  text-align: center;
  vertical-align: baseline;
}
